.intro {
  position: relative;
  height: 100vh;
  height: 100dvh;
  width: 100vw;

  background-color: rgb(20, 20, 20);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.helloHeader {
  font-size: 2em;
  text-transform: uppercase;
  font-family: monospace, monospace;
  padding: 25px;

  color: rgb(250, 250, 250  );
  box-shadow: 5px 5px 0px 0px rgb(247, 205, 69);
}

.helloSubheader {
  font-size: 2em;
  text-transform: uppercase;
  font-family: monospace, monospace;
  padding: 15px 25px;

  color: rgb(247, 205, 69);
}

.helloScrollNotice {
  position: absolute;

  font-size: 1.5em;
  bottom: 50px;

  padding: 10px;

  text-transform: uppercase;
  font-family: monospace, monospace;
  font-weight: 800;

  color: rgb(247, 205, 69)
}

.helloScrollIcon {
  display: inline-block;
  font-size: 2em;
  padding: 0px 10px;
}

.helloName {
  font-size: 3em;
  display: block;
}

.hiddenProjectBackground {
  position: relative;
  height: 100vh;
  height: 100dvh;

  width: 100vw;

  background-color: rgb(20, 20, 20);
  
  overflow: hidden;
  white-space: nowrap;
}

.dipShadowWrap{
  position: absolute;

  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  --perspectiveDepth: 10cm;

  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;

  transform: perspective(10cm) rotate(var(--tapeAngle)) translate3D(0, 0, var(--tapeDepth));
}

.dipBanner {
  display: flex;
  align-items: center;
  flex-grow: 1;
  
  width: calc(125vw + 50px);
  max-height: 60px;
  padding: 15px 25px;
  
  background-color: rgb(247, 205, 69);
  border-image: url(/tape_pattern.png) 128 0 / 256px / 0px 30px repeat repeat;
  
  white-space: nowrap;
  overflow: hidden;
}

.dipShadowWrap:nth-child(1) {
  --tapeAngle: -12deg;
  --tapeDepth: 0.1cm;
  bottom: 10vh;
}

.dipShadowWrap:nth-child(2) {
  --tapeAngle: 18deg;
  --tapeDepth: 0.2cm;
  bottom: 20vh;
}

.dipShadowWrap:nth-child(3) {
  --tapeAngle: -8deg;
  --tapeDepth: 0.3cm;
  bottom: 30vh;
}

.dipShadowWrap:nth-child(4) {
  --tapeAngle: 10deg;
  --tapeDepth: 0.4cm;
  bottom: 35vh;
}

.dipShadowWrap:nth-child(5) {
  --tapeAngle: -4deg;
  --tapeDepth: 0.4cm;
  bottom: 65vh;
}

.dipShadowWrap:nth-child(6) {
  --tapeAngle: -4deg;
  --tapeDepth: 0.5cm;
  bottom: 50vh;
}

.dipShadowWrap:nth-child(7) {
  --tapeAngle: 10deg;
  --tapeDepth: 0.6cm;
  bottom: 80vh;
}

.dipShadowWrap:nth-child(8) {
  --tapeAngle: -15deg;
  --tapeDepth: 0.7cm;
  bottom: 80vh;
}

.dipShadowWrap:nth-child(2n + 1) {
  right: -50px;
}
.dipShadowWrap:nth-child(2n) {
  left: -50px;
}

.dipShadowWrap:nth-child(2n + 1) > .dipBanner {
  justify-content: start;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25px 75%, 10px 50%, 25px 25%, 0% 0%);  /* extract */
}

.dipShadowWrap:nth-child(2n) > .dipBanner {
  justify-content: end;
  clip-path: polygon(100% 0%, calc(100% - 25px) 25%, calc(100% - 10px) 50%, calc(100% - 25px) 75%, 100% 100%, 0 100%, 0% 50%, 0 0);
}


.dipText {
  color: rgb(20, 20, 20);
  font-weight: 900;
  font-size: 2em;
  margin-left: 15px;
  margin-right: 35px;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .dipBanner {    
    max-height: 45px;
  }

  .dipText {
    font-size: 1.5em;
  }

  .intro {
    flex-direction: column;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .intro {
    flex-direction: column;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
}